<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <div formGroupName="address">
    <h3>Address</h3>
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
    <br>
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    <br>
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
    <br>
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>
  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">新增綽號</button>
    <div *ngFor="let item of aliases.controls; let i=index">
      <label>
        綽號:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>
  <button type="submit" [disabled]="!profileForm.valid">提交</button>
  <button type="button" (click)="updateProfile()">更新</button>
</form>

<p>
  Form Value: {{ profileForm.valid }} <br>
  Form Status: {{ profileForm.status }}
</p>
